<div class="col-xs-9" id="main">
  <!-- <%= render 'shared/questions_list', questions: @questions%> -->
</div>
<div class="col-xs-3" id="sidebar">
  <!-- <%= render 'shared/sidebar'%> -->
</div>

<!-- all backbone now baby -->


<script>

  <% if current_user %>
    Snackoverload.currentUserId = <%=current_user.id%>
  <% end %>
  
  Snackoverload.users = <%= @users.to_json.html_safe %>;
  $(document).ready(function(){
    Snackoverload.initialize();
  });
</script