<row>
  <div class="col-md-8">
<h2>
  What
</h2>
<p>
  <a href="#">snackoverload</a> is a (not very faithful) clone of 
  <a href="http://www.stackoverflow.com">stackoverflow</a>. Like the original, 
  <a href="#">snackoverload</a> has 
  <a href="#users">users</a>, <a href="#">questions</a>, answers, comments, votes, <a href="#tags">tags</a>, and...attitude? 
  The subject, instead of computers/programming is food. Wonderful food. 
</p>
  
<p>
  <a href="#/questions/new">Create a question</a> to get started! I'm sure
  there must be something you've always wanted to ask about
   <a href="http://en.wikipedia.org/wiki/Lox">lox</a> or 
   <a href="http://en.wikipedia.org/wiki/Pupusa">pupusas</a>? Maybe 
  <a href="http://en.wikipedia.org/wiki/Green_papaya_salad">ส้มตำ</a>? All are
  welcome on <a href="#">snackoverload</a>.
</p>
<h2>
  How
</h2>
<p>
  <code>rails new snackoverload</code>, <code>rails g model comment body:string commenter_id:integer commentable_id:integer commentable_type:string</code>, ad nauseum.
</p>
  
  <p>
    On top of a <a href="http://www.postgresql.org/">PostgreSQL</a> backed 
    <a href="http://i.imgur.com/wjANVCD.jpg">bed of rails</a>, sits a javascript
    enhanced <span class="sassy">high quality</span> 
    <a href="https://developer.mozilla.org/en-US/docs/AJAX">AJAX</a> adorned website. 
  </p>
    
  <p>
    It was made the old fashioned way with 
    <a href="https://github.com/textmate/textmate">a cup of TextMate</a>, 
    <a href="http://www.iterm2.com/">a jigger of iTerm</a>, 
    <a href="https://developers.google.com/chrome-developer-tools/"> 
      a shake of Chrome Developer Tools</a>, <a href="https://www.heroku.com/">a spoonful of Heroku</a>, and 
      <a href="http://www.github.com">a truckload of Git</a>.
  </p>
  
  <p><a style="font-weight:bold" href="https://github.com/jeffnv/snackoverload">For the whole story, head here.</a>
<h2>
  Why
</h2>
<p>
  I created <a href="#">snackoverload</a> to practice and 
  demonstrate my fledgling ruby, rails, javascript, html, and css
  abilities. I don't expect this thing to go 
  <a href="http://en.wikipedia.org/wiki/File:Blackdeath2.gif">black-plague</a> 
  status, but who knows? 
</p>

<h2>
  Who
</h2>
<p>
  I, <a href="http://www.linkedin.com/pub/jeffrey-fiddler/6b/84a/646">
  Jeffrey Fiddler</a>, am a 
  <a href="https://github.com/jeffnv">software developer</a> 
  living in San Francisco. 
</p>
<p>
  Nice to meet you.
</p>

<h2>When</h2>
<p>Presently.</p>
  </div>
</row>