<li>
  <p class="lead"><%=answer.escape('body')%></p>
  Answered by: <a href="#users/<%=answer.get('answerer_id')%>"><%=answer.get('answerer').email%>
  </a>
  <%=moment(answer.get('created_at')).fromNow()%>
  <br>
  <br>
  <div class='answer-comments'></div>
</li>