<row>
  <div class="col-xs-12">
    <h2><%=user.get('email')%></h2>
    <hr>
  </div>
  <div class="col-xs-4">
    <img src="<%=user.get('gravatar_url') + "&s=200"%>"></img>
    <div class="rep-stats">
      <span class="rep-num"><%= rep %></span>
      <br>
      <span class="rep-word">Reputation</span>
    </div>
  </div>
  <div class="col-xs-8 question-list">
    
  </div>
</row>