<div class="comments">  
  <ul class="comments-list" data-commentable="<%=commentable_type%>_<%commentable_id%>"></ul>
  <% if(Snackoverload.currentUserId){%>
    <form class="comment-form" accept-charset="utf-8">
      <input type="hidden" 
       name="comment[commentable_id]" value="<%=commentable_id%>">
      <input type="hidden" 
       name="comment[commentable_type]" value="<%=commentable_type%>">
     
      <input type="text" class="form-control"name="comment[body]" id="comment" 
       placeholder="comment">
       <button class="btn btn-default add-comment-btn" value="Add Comment" id="comment-button">Add Comment</button>
    </form>
  <%}%>
</div>
