<row>
  <div class="col-md-12">
    <h2><%=@user.email%></h2>
    <hr>
  </div>
  <div class="col-xs-4">
    <%= image_tag (@user.gravatar_url + "&s=200")%>
    <div class="rep-stats">
      <span class="rep-num"><%= @rep %></span>
      <br>
      <span class="rep-word">Reputation</span>
    </div>
  </div>
  <div class="col-xs-8">
    <%= render 'shared/questions_list', questions: @user.questions%>
  </div>
</row>