.question-stats{
  background: #ddd;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  width: 80px;
}


.right-point{
  position:absolute;
  left:95px;
  top:40px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ddd;
}
.question-vote-count{
  
}

.question-vote-answer{
  padding: 5px;
}

.question-vote-answer.answered{
  background: #33CC66; /*beautiful green*/
}

.question-vote-answer.confirmed{
  color: yellow;
}
  
.stat-number{
  font-size:24px;
  font-weight:bold;
}