.rep-stats{
  text-align:center;
}
.rep-num{
  text-align:center;
  font-size:24px;
}
.rep-word{
  font-size:14px;
}

.lil-gravatar{
  margin-right:10px;
  float: left;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.user-index-col{
  padding: 10px;
}
