.vote-block{
  position: absolute;
  top: 10px;
  
}
 
 
.vote.up{
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
	
  border-bottom: 15px solid #404040;
}


    
  
.score{
  font-size: 25px;
  text-align: center;
}
  
.vote.down{
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
	
  border-top: 15px solid #404040;
}

.vote.up.lit{
  border-bottom: 15px solid #33CC66;
}

.vote.down.lit{
  border-top: 15px solid #FF3333;
}
