<img logo="sidebar-logo" src="/assets/logo.png" width="150"></img>
<h4>
  Hey! Look here!
  <hr>
</h4>
<div>
  <h5>Who are you?</h5>
  <p><a href="http://www.linkedin.com/in/jfiddler">Hi.</a></p>
</div>
<div>
  <h5>What is this?</h5>
  <p><a href="/#about">This is what this is.</a></p>
</div>

<div>
  <h5>I don't want to sign up.</h5>
  <p><a href="/guest">Who would?</a></p>
</div>
<div>
  <h5>I do want to sign up.</h5>
  <p><a href="/users/sign_up">If you insist.</a></p>
</div>

<div>
  <h5>Index all the things!</h5>
  <p><a href="/#users">Users</a>, 
     <a href="/#tags">Tags</a>, 
     <a href="/#">Questions</a>
   </p>
</div>
