<!-- should be a link to the show page -->
<%var checked = Snackoverload.favoriteTags.pluck('id').indexOf(tag.id) != -1;%>
<a class="tag" 
   href="#/tags/<%=tag.id%>" 
   rel="popover"
   data-content='<input data-id="<%=tag.id%>" type="checkbox" <%=checked ? "checked" : "" %> class="tag-popover-fave"><label>favorite</label>'
 
   ><%=tag.get('name')%></a>